<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WAIVE Plugins</title>
  <link rel="stylesheet" href="<%= root %>/style.css">
  <!-- <link rel="icon" href="<%= root %>/favicon.ico" type="image/x-icon"> -->
</head>

<body>
  <div id="about-card" class="card">
    <div class="card-title">About</div>
    <div id="about-content" class="card-content">
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
      <p id="about-readmore" class="expand">Learn more</p>
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
      <p>WAIVE turns public domain data into free AI-powered music tools.</p>
      <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
    </div>
  </div>

  <div id="download-card" class="card">
    <div class="card-title">Plugins</div>
    <div id="download-content" class="card-content">
      <img id="download-expand" src="<%= root %>/media/WAIVE_Sampler.png" alt="WAIVE-Sampler screenshot">
      <div id="download-expanded-content">
        <div class="download-item">
          <img src="<%= root %>/media/WAIVE_Sampler.png" alt="WAIVE-Sampler screenshot">
          <h2>Sampler</h2>
          <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
          <p><a href="">Download</a></p>
        </div>
        <div class="download-item">
          <img src="<%= root %>/media/WAIVE_Sequencer.png" alt="WAIVE-Sequencer screenshot">
          <h2>Sequencer</h2>
          <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
          <p><a href="">Download</a></p>
        </div>
        <div class="download-item">
          <img src="<%= root %>/media/WAIVE_Sampler.png" alt="WAIVE-Sampler screenshot">
          <h2>Visualizer</h2>
          <p>Our tools transform audio and video into ready-to-use samples, drum patterns and live VJ content</p>
          <p><a href="">Download</a></p>
        </div>
        <span id="close-downloads" class="close">close</span>
      </div>
    </div>
  </div>

  <div id="database-card" class="card">
    <div class="card-title">Database</div>
    <div id="database-content" class="card-content">
      <p>Explore the database used by WAIVE</p>
      <p id="about-readmore" class="expand">Browse...</p>
      <div id="database-expanded-content">
        <h3>Archives</h3>
        <ul>
          <li>BBC</li>
          <li>Beeld&Geluid</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="events-card" class="card">
    <div class="card-title">Events</div>
    <div id="events-content" class="card-content">
      <img id="events-expand" src="<%= root %>/media/events.jpg" alt="WAIVE Events">
      <div id="events-expanded-content">
        <h3>Upcoming events</h3>
        <ul>
          <li></li>
        </ul>
        <h3>Past events</h3>
        <ul>
          <li>09.09.25 Barcelona</li>
          <li>09.09.25 Amsterdam</li>
          <li>09.09.25 London</li>
          <li>09.09.25 Barcelona</li>
          <li>09.09.25 Amsterdam</li>
          <li>09.09.25 London</li>
          <li>09.09.25 Barcelona</li>
          <li>09.09.25 Amsterdam</li>
          <li>09.09.25 London</li>
        </ul>
        <span id="close-events" class="close">close</span>
      </div>
    </div>
  </div>

  <script src="index.js"></script>
</body>

</html>